# Student Loan Risk with Deep Learning

In [21]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [22]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [23]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [24]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [25]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking']

# Display a sample of y
y.head()

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [26]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns=['credit_ranking'])

# Review the features DataFrame
X

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

### Step 3: Split the features and target sets into training and testing datasets.

In [27]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [28]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
# Fit the scaler to the features training dataset
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[ 0.26985713, -0.67852173,  1.87373569, ...,  1.43159743,
         0.01130905,  0.05358797],
       [ 0.21400374,  0.54947458,  0.05955639, ..., -0.34793415,
        -0.16632694, -0.22597102],
       [ 1.16351141, -1.06924782,  1.57137247, ..., -0.79281704,
         0.24815703,  0.7990786 ],
       ...,
       [-0.62379715, -0.95761179,  0.96664604, ...,  0.54183164,
         1.13633698,  0.51951962],
       [-1.51745143,  0.46574755, -1.35147195, ...,  1.68581622,
        -0.81765891, -0.50553001],
       [ 1.94545891, -1.12506584,  1.11782765, ..., -0.09371535,
         0.60342901,  0.23996063]])

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [29]:
# Define the the number of inputs (features) to the model
input_layer = len(X.columns)

# Review the number of features
input_layer

11

In [30]:
# Define the number of hidden nodes for the first hidden layer
first_hidden_nodes=5

# Define the number of hidden nodes for the second hidden layer
second_hidden_nodes=3

# Define the number of neurons in the output layer
output_nodes=1

In [31]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(units=first_hidden_nodes,activation='relu',input_dim=input_layer))

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=second_hidden_nodes,activation='relu'))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units=output_nodes,activation='sigmoid'))

In [32]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 5)                 60

 dense_8 (Dense)             (None, 3)                 18

 dense_9 (Dense)             (None, 1)                 4

=================================================================
Total params: 82 (328.00 Byte)
Trainable params: 82 (328.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [41]:
# Compile the Sequential model
nn_model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [43]:
# Fit the model using 50 epochs and the training data
nn_model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5056 - accuracy: 0.7548
Epoch 2/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5052 - accuracy: 0.7565
Epoch 3/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5047 - accuracy: 0.7573
Epoch 4/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5043 - accuracy: 0.7598
Epoch 5/100
38/38 [==============================] - 0s 4ms/step - loss: 0.5038 - accuracy: 0.7556
Epoch 6/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5031 - accuracy: 0.7573
Epoch 7/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5025 - accuracy: 0.7590
Epoch 8/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5019 - accuracy: 0.7581
Epoch 9/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5015 - accuracy: 0.7606
Epoch 10/100
38/38 [==============================] - 0s 4ms/step - loss: 0.5010 - accuracy: 0.7598
Epoch 11/100
38/38 [==============================] - 0s 4ms/step - loss: 0.5008 - accuracy: 0.7631
Epoch 12/100
38/38 [==============================] - 0s 3ms/step - loss: 0.5004 - accuracy: 0.7631
Epoch 13/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4998 - accuracy: 0.7623
Epoch 14/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4996 - accuracy: 0.7606
Epoch 15/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4992 - accuracy: 0.7615
Epoch 16/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4985 - accuracy: 0.7615
Epoch 17/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4982 - accuracy: 0.7640
Epoch 18/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4976 - accuracy: 0.7631
Epoch 19/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4976 - accuracy: 0.7615
Epoch 20/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4969 - accuracy: 0.7615
Epoch 21/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4966 - accuracy: 0.7623
Epoch 22/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4961 - accuracy: 0.7631
Epoch 23/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4961 - accuracy: 0.7623
Epoch 24/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4957 - accuracy: 0.7640
Epoch 25/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4952 - accuracy: 0.7631
Epoch 26/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4952 - accuracy: 0.7665
Epoch 27/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4948 - accuracy: 0.7656
Epoch 28/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4940 - accuracy: 0.7648
Epoch 29/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4939 - accuracy: 0.7656
Epoch 30/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4937 - accuracy: 0.7648
Epoch 31/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4935 - accuracy: 0.7673
Epoch 32/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4932 - accuracy: 0.7698
Epoch 33/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4927 - accuracy: 0.7706
Epoch 34/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4928 - accuracy: 0.7673
Epoch 35/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4921 - accuracy: 0.7673
Epoch 36/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4918 - accuracy: 0.7690
Epoch 37/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4916 - accuracy: 0.7706
Epoch 38/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4912 - accuracy: 0.7715
Epoch 39/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4913 - accuracy: 0.7715
Epoch 40/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4909 - accuracy: 0.7698
Epoch 41/100
38/38 [==============================] - 0s 5ms/step - loss: 0.4906 - accuracy: 0.7690
Epoch 42/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4902 - accuracy: 0.7698
Epoch 43/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4899 - accuracy: 0.7715
Epoch 44/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4895 - accuracy: 0.7690
Epoch 45/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4902 - accuracy: 0.7706
Epoch 46/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4892 - accuracy: 0.7698
Epoch 47/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4892 - accuracy: 0.7681
Epoch 48/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4884 - accuracy: 0.7698
Epoch 49/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4882 - accuracy: 0.7690
Epoch 50/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4873 - accuracy: 0.7681
Epoch 51/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4875 - accuracy: 0.7673
Epoch 52/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4868 - accuracy: 0.7698
Epoch 53/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4863 - accuracy: 0.7698
Epoch 54/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4864 - accuracy: 0.7681
Epoch 55/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4857 - accuracy: 0.7673
Epoch 56/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4856 - accuracy: 0.7690
Epoch 57/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4851 - accuracy: 0.7698
Epoch 58/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4848 - accuracy: 0.7681
Epoch 59/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4847 - accuracy: 0.7698
Epoch 60/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4839 - accuracy: 0.7740
Epoch 61/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4839 - accuracy: 0.7731
Epoch 62/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4836 - accuracy: 0.7723
Epoch 63/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4831 - accuracy: 0.7715
Epoch 64/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4827 - accuracy: 0.7706
Epoch 65/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4823 - accuracy: 0.7690
Epoch 66/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4818 - accuracy: 0.7715
Epoch 67/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4808 - accuracy: 0.7690
Epoch 68/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4802 - accuracy: 0.7698
Epoch 69/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4797 - accuracy: 0.7673
Epoch 70/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4788 - accuracy: 0.7715
Epoch 71/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4788 - accuracy: 0.7723
Epoch 72/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4782 - accuracy: 0.7723
Epoch 73/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4774 - accuracy: 0.7731
Epoch 74/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4769 - accuracy: 0.7715
Epoch 75/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4766 - accuracy: 0.7715
Epoch 76/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4760 - accuracy: 0.7706
Epoch 77/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4752 - accuracy: 0.7723
Epoch 78/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4746 - accuracy: 0.7690
Epoch 79/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4743 - accuracy: 0.7673
Epoch 80/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4742 - accuracy: 0.7690
Epoch 81/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4736 - accuracy: 0.7698
Epoch 82/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4731 - accuracy: 0.7723
Epoch 83/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4728 - accuracy: 0.7723
Epoch 84/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4720 - accuracy: 0.7740
Epoch 85/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4719 - accuracy: 0.7731
Epoch 86/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4714 - accuracy: 0.7698
Epoch 87/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4705 - accuracy: 0.7715
Epoch 88/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4705 - accuracy: 0.7706
Epoch 89/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4702 - accuracy: 0.7715
Epoch 90/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4700 - accuracy: 0.7706
Epoch 91/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4697 - accuracy: 0.7723
Epoch 92/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4689 - accuracy: 0.7740
Epoch 93/100
38/38 [==============================] - 0s 4ms/step - loss: 0.4686 - accuracy: 0.7740
Epoch 94/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4681 - accuracy: 0.7715
Epoch 95/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4681 - accuracy: 0.7756
Epoch 96/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4682 - accuracy: 0.7765
Epoch 97/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4680 - accuracy: 0.7731
Epoch 98/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4673 - accuracy: 0.7748
Epoch 99/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4674 - accuracy: 0.7740
Epoch 100/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4675 - accuracy: 0.7748

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [44]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5171 - accuracy: 0.7475 - 497ms/epoch - 38ms/step
Loss: 0.5170942544937134, Accuracy: 0.7475000023841858

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [36]:
# Set the model's file path


# Export your model to a keras file

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [37]:
# Set the model's file path


# Load the model to a new object

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [38]:
# Make predictions with the test data


# Display a sample of the predictions

In [39]:
# Save the predictions to a DataFrame and round the predictions to binary results

### Step 4: Display a classification report with the y test data and predictions

In [40]:
# Print the classification report with the y test data and predictions

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**